{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="about-box">
            <div class="box-container">
                <div class="box-top">
                    <img src="{% static 'image\Satyam.jpg'%}" alt="" style="width: 250px;">
                </div>
                <div class="box-details">
                    <p class="card-text text-dark"><b>Satyam Srivastava</b><br>
                        <small class="text-muted ">Group leader</small>
                    </p>
                </div>
                <div class="box-bottom">
                  
                </div>
            </div>
            <div class="box-container">
                <div class="box-top">
                    <img src="{% static 'image\Shubham.jpeg'%}" alt="" style="width: 170px;">
                </div>
                <div class="box-details">
                    <p class="card-text text-dark"><b>Shubham</b><br>
                        <small class="text-muted ">Team Member</small>
                    </p>                     
                </div>
                <div class="box-bottom">
                  
                </div>
            </div>
            <div class="box-container">
                <div class="box-top">
                    <img src="{% static 'image\Sid.jpeg'%}" alt="" style="width: 250px;">
                </div>
                <div class="box-details">
                    <p class="card-text text-dark"><b>Siddharth s. Pandey</b><br>
                        <small class="text-muted ">Team Member</small>
                    </p> 
                </div>
                <div class="box-bottom">
                  
                </div>
            </div>
            <div class="box-container">
                <div class="box-top">
                    <img src="{% static 'image\Aarush.jpeg'%}" alt="" style="width: 250px;">
                </div>
                <div class="box-details">
                    <p class="card-text text-dark"><b>Aarush</b><br>
                        <small class="text-muted ">Team Member</small>
                    </p> 
                </div>
                <div class="box-bottom">
                  
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
