{% extends 'electricity_recharge.html' %}
{%load static%}
{%block data%}


<div class="alert alert-primary" role="alert">
    {{coupon}}<br>
</div>

<!-- <div>
    <div class="alert alert-danger" role="alert">
      Your Actual Bill amount is.
    </div>
  </div>
  <div>
    <div class="alert alert-success" role="alert">
      Your Bill Amount After discount is.
    </div>
  </div>
  <div>
    <div class="card" style="width: 25rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">How to Avail This Discount?</h5>
        <p class="card-text">Use Promocode: EBILL<br>To get the %5 discount upto Rs. 100/-</p>
        <a href="#" class="btn btn-primary">Avail Now!</a>
      </div>
    </div>
  </div> -->


{%endblock data%}
