{% extends 'base.html' %}
{%block content%}

    <section class="home" id="home">

        <div class="image">
            <!-- <img src="static\image\BILLWITHUS-LOGO.png" alt="Bill With Us Logo"> -->
            <video src="static\videos\billwithus2.mp4" controls autoplay loop poster="static\image\BILLWITHUS-LOGO.png"></video>
        </div>
    
        <div class="content">

            <h3> Bill <span>With</span> Us </h3>
            <p>BILL WITH US to get your expenses reduced </p>
            <a href="{% url 'services'%}" class="btn">Services</a>
        </div>
    
    </section>

{%endblock%}